body{
    background-color: rgba(200, 200, 200, 0.6);
}
footer
{
    position: absolute;
    height: 50px;
    width: 100%;
    margin-top: 60%;
}
#leftSide
{
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
}
#rightSide
{
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
}
.text
{
    margin-left: 10%;
}
#canvas
{
    border: 1px solid black;
    z-index: 5;
    position: absolute;
    right: 20%;
    margin-bottom: 5%;
    width: 70%;
    height: 70%;
    background-color: white;
}
#input{
    position:relative;
    display: inline-block;
    width: 65%;
    margin-left: 10%;

    font-size: 32;
}
#input2{
    position: relative;
    display: inline-block;
    width: 65%;
    margin-left: 10%;
    font-size: 32;
}
#goButton
{
    position: absolute;
    display: inline-block;
    width: 70px;
    height: 43px;
    right: 15%;
    background-color: rgba(161, 14, 14, 0.9);
    border-radius: 5px;
}

#goButton div{
    color: white;
    position: relative;
    margin-top: 15%;
    margin-left: 35%;
    font-size: 18;
}
#goButton:hover
{
    background-color: rgba(150, 10, 10, 1);
}
h1{
    color: rgba(161, 14, 14, 0.9);
    position: relative;
    margin-top: 3%;
    margin-left: 3%;
}
#rjesenje
{
    position:absolute;
    background-color: white;
    width: 65%;
    height: 20%;
    margin-left: 10%;
    margin-top: 5%;
    border-radius: 15px;
}
#rjDiv
{
    margin-left: 2%;
    margin-bottom: 10px;
    font-size: 22;
    color: rgba(161, 14, 14, 0.9);
}
#rjrj
{
    margin-left: 2%;
    font-size: 22;
}